:root {
	--intense-blur: rgba(255, 255, 255, 0.8);
	--lighter-blur: rgba(255, 255, 255, 0.5);
}

html {
	height: 100%;
	width: 100%;
	position: relative;
	background: url("./background.webp") center center / cover no-repeat local;
}

@font-face {
	font-family: 'Norican';
	font-style: normal;
	font-weight: 400;
	src: local('Norican'), url('./norican.woff') format('woff');
}

@font-face {
	font-family: 'Segoe UI Variable';
	font-style: normal;
	font-weight: 400;
	src: local('Segoe UI Variable'), url('https://fonts.cdnfonts.com/s/63254/SegoeUIVF.woff') format('woff');
}

* {
	font-family: Segoe UI Variable, Segoe UI;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	appearance: none;
	height: 1em;
	width: 1em;
	border-radius: 50em;
	background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
	background-size: contain;
	opacity: .3;
	pointer-events: all;
}

body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background: rgba(243, 243, 243, 0.8);
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	align-items: center;
	background-color: #020202;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 99999999999999;
	background: white;
}

#topbar {
	position: relative;
	height: 40px;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 5px;
	background: rgba(251, 251, 251, 0.5);
	backdrop-filter: blur(12px);
	-webkit-app-region: drag;
	box-sizing: border-box;
	padding-right: 135px;
}

#topbar>* {
	-webkit-app-region: no-drag;
}

#webviewnavigation {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .25em;
}

#urlbar {
	height: 100%;
	width: -webkit-fill-available;
}

#urlbar>input {
	outline: none;
	box-shadow: 2px 2px 5px -4px rgb(119 119 119 / 71%);
	border: none;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 0px 1em;
}

#windowcontrols {
	width: 135px;
	height: 100%;
	display: flex;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
}

#windowcontrols>button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	user-select: none;
	background: none;
	border: none;
	padding: 0px 15px;
	box-sizing: border-box;
}

#windowcontrols>button:hover {
	background: rgba(0, 0, 0, 0.1);
}

#closebutton:hover {
	background: #E81123 !important;
}

#closebutton:hover>svg {
	color: white;
}

#windowcontrols>button>svg {
	width: 15px;
	height: 15px;
}

#sidebar {
	width: 200px;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 20px;
	padding-top: 10px;
	box-sizing: border-box;
	background: rgba(251, 251, 251, 0.5);
	backdrop-filter: blur(12px);
}

#tabs {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.tab {
	width: 100%;
	text-align: start;
	border: none;
	height: 35px;
	border-radius: 5px;
	background: none;
	display: flex;
	align-items: center;
	gap: 5px;
	position: relative;
	overflow: hidden;
}

.tab.active {
	box-shadow: 2px 2px 5px -4px rgb(119 119 119 / 71%);
	background: var(--lighter-blur);
	font-weight: 600;
}

.tabfavicon {
	width: 20px;
	pointer-events: none;
}

.tab>p {
	position: relative;
	margin: 0;
	display: inline;
	white-space: nowrap;
	overflow: hidden;
	pointer-events: none;
}

webview,
#homepage {
	position: absolute;
	top: 40px;
	left: 200px;
	height: calc(100% - 40px);
	width: calc(100% - 200px);
}

#homepage {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#homepage>h1 {
	color: rgb(250, 91, 41);
	font-size: 2.5em;
	margin: 0;
	text-shadow: 2px 2px rgb(119 119 119 / 71%);
	pointer-events: none;
	user-select: none;
}

#homepage>form {
	width: 40%;
	height: 45px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 2px 2px 5px 0px rgb(119 119 119 / 71%);
	display: flex;
	align-items: center;
	background: var(--intense-blur);
	backdrop-filter: blur(12px);
}

#homepage>form>input {
	outline: 0;
	border: 0;
	width: -webkit-fill-available;
	height: 100%;
	text-align: center;
	background: none;
}

#homepage>form>button {
	height: 100%;
	border: none;
	border-radius: 5px;
	background: #D9D9D9;
	box-shadow: 2px 2px 5px 0px rgb(119 119 119 / 71%);
	font-size: 20px;
	cursor: pointer;
}

webview {
	display: none;
	background: white;
}

#urlhover {
	position: absolute;
	bottom: 10px;
	left: 210px;
	width: fit-content;
	height: fit-content;
	background: var(--intense-blur);
	backdrop-filter: blur(20px);
	border-radius: 5px;
	padding: 5px;
	box-sizing: border-box;
	display: none;
	font-size: .75rem;
	box-shadow: 2px 2px 5px -4px rgb(119 119 119 / 71%);
	animation: fadein 1s;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#urlhover>p {
	margin: 0px;
}